.connected-nft {
  display:inline;
}

.not-connected-nft {
  display:none;
}

@media (min-width: 480px) {
  .col-sm-4 {
    width: 33% !important;
  }
}

.nft-row > .row {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  text-align: right;
  margin: 30px 50px 30px 30px;
}